@media(max-width:1510px) {
  .top-slider__container {
    min-width: 100%;

  }
}

@media(max-width:1300px) {

  .top-slider__img {
    width: 35%;
    object-fit: contain;
    object-position: bottom;
    max-height: 405px;


  }

  .top-slider__content {
    padding-top: 0;
  }

  .top-slider__title {
    font-size: 42px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .info::after {
    display: none;

  }

  .video-popup__content {
    max-width: 470px;
    padding: 80px 0;
  }

  .blog__items::after {
    display: none;
  }

  .blog__items {
    gap: 30px;
  }

  .blog__item-img {
    height: auto;
  }

  .top__container {
    max-width: 100%;
    width: 100%;
    height: 357px;
  }
}





@media(max-width:1205px) {

  .top__container {
    padding: 90px 0;
    height: 250px;
  }

  .blog-page__aside{
    order: -1;
    max-width: 100%;
    .worker,
    .latest-post,
    .filter-category,
    .filter-tags{
      display: none;
    }

    .filter-search{
      width: 100%;
      display: flex;
      align-items: center;
    }
    .filter__title{
      display: inline-block;
      margin-bottom: 0;
      margin-right: 30px;
    }

    .filter-search__form{
      width: 100%;
    }

    .filter-search__input{
      width: 100%;
    }

    .filter__item {
      padding: 15px 15px;
  }
   
  }

  .blog-page__content{
    max-width: 100%;
  }

  

  .blog-page__inner{
    flex-direction: column;
  }

  .page-404__inner{
    flex-direction: column;
  }

  .page-404__img{
    order:-1;
    margin-bottom: 30px;
  }

  .page-404__content{
    max-width: 700px;
    text-align: center;
    margin-right: 0;
  }

  .page-404__text {
    max-width: 100%;
    margin-bottom: 20px;
}
.page-404__btn{
  display: inline-flex;
}
}









@media(max-width:1060px) {
  .footer-top {
    flex-wrap: wrap;
    padding: 30px 0 40px;

  }

  .footer__logo {
    margin: 0 auto 35px;
    display: inline-block;

  }

  .footer-top__info {
    max-width: 100%;
    text-align: center;
    margin-bottom: 35px;
    margin-right: 0;
  }

  .footer-top__navigation {
    max-width: 50%;
    width: 50%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 35px;
  }

  .footer-top__sub {
    max-width: 100%;
  }

  .footer-top__sub {
    text-align: center;
  }

  .footer-top__form {
    justify-content: center;
  }

  .social {
    justify-content: center;
  }

  .top-slider__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  .top-slider__text {
    margin-bottom: 35px;
  }

  .categories {
    padding: 60px 0;
  }

  .info__item {
    padding: 20px 20px;
    text-align: center;

  }

  .info__img {
    margin-bottom: 20px;
  }

  .info__title {
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 15px;
  }

  .info__text {
    font-size: 14px;
  }

  .categories-top__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .categories-top__item:nth-child(1) {
    grid-row: span 1;
    background-position: center 10%;
  }

  .categories-top__item:nth-child(2) {
    grid-column: span 1;
    background-position: 90%;
    display: block;
  }

  .video-popup {
    padding: 0;
  }

  .video-popup__inner {
    display: block;
  }

  .video-popup__block {

    background-position: center top;
    max-width: 100%;
    width: 100%;

  }


  .video-popup__content {
    max-width: 100%;
    text-align: center;

  }

  .video-popup__title {
    text-align: center;
  }

  .video-popup__text {
    margin-bottom: 20px;
  }

  .video-popup__btn {
    margin: 0 auto;
  }


  .products::after {
    top: auto;
    bottom: 20px;
    right: 30px;

  }

  .promo {

    background-position: 30% center;

  }

  .promo__btn {
    background-color: #fff;
  }

  .contacts__inner {
    display: block;
  }

  .contacts__content {
    max-width: 100%;
  }

  .contacts__content-list {
    display: flex;
    justify-content: space-between;
  }

  .contacts__content-title {
    font-size: 39px;
    line-height: 52px;
  }

  .contacts__content-item {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .contacts__content-text {
    margin-bottom: 20px;
  }

  .blog-page {
    padding: 60px 0;
}

}










@media(max-width:950px) {

  .header {
    &__inner {
      position: relative;
      justify-content: flex-end;
    }
  }

  .logo {
    margin-right: auto;
  }


  .user-nav {
    padding-right: 40px;
  }


  .menu {


    &__btn-link {
      display: inline-block;
      position: relative;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      order: 2;

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: $title;
        top: 0;
        left: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: $title;
        bottom: 0;
        left: 0;
      }
    }

    &__btn {

      display: inline-block;
      width: 20px;
      height: 3px;
      background-color: $title;
    }

    &--active {
      .menu__list {
        transform: translateY(0);
        transition: opacity .9s;
        opacity: 1;
      }
    }

    &__list {
      padding: 15px 0;
      z-index: 5;
      position: absolute;
      flex-direction: column;
      top: 30px;
      left: 0;
      text-align: center;
      width: 100%;
      transform: translateY(-200%);
      opacity: 0;
      transition: opacity .9s;
      background-color: #fff;
    }

    &__item {
      width: 100%;
      margin-bottom: 20px;
    }

    &__link {
      display: block;
      width: 100%;

    }

    &__item+.menu__item {
      padding-left: 0;
    }
  }

  .top-slider__item {
    .top-slider__img {
      display: none;
    }

  }

  .top-slider__content {

    max-width: 100%;
    margin: 0 auto;

  }

  .top-slider {
    padding-top: 25px;
    padding-bottom: 50px;

  }

  .top-slider .slick-dots {
    bottom: 0px;

  }


  .top-slider__content {
    padding: 25px 15px 40px;
  }


  .info {
    flex-wrap: wrap;
  }

  .info__item {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info__img {
    width: 90px;
    height: 90px;
  }



  .info__title {
    font-size: 22px;
    line-height: 16px;
  }

  .info__text {
    font-size: 16px;
  }

  .categories-top__item-title {
    font-size: 17px;
  }

  .categories-top__items {
    grid-gap: 10px
  }

  .categories-top__item {
    padding: 15px;
  }

  .categories-top__item:nth-child(2) {
    background-position: 81%;

  }


  .products {
    padding: 60px 0;
  }

  .products__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .products::after {
    display: none;
  }

  .blog__items {
    flex-wrap: wrap;
  }

  .blog__item {
    max-width: 100%;
  }

  .blog__item-img {

    width: 100%;
  }

  .top__container {
    padding: 70px 0;
    height: 200px;
  }

  .top__title {
    font-size: 33px;
    line-height: 13px;
    margin-bottom: 15px;
  }

  .contacts__content-list {
    display: block;
  }
  .contacts__content-item{
    display: block;
 
  }

  .blog-page__item-block {
    padding: 25px;
  }


}



















@media(max-width:600px) {

  .top__title{
    line-height: 25px;
  }
  .user-nav {
    display: none;

    &--adaptive {
      width: 100%;
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
      padding: 20px;
      background-color: $bg;
      border: 1px solid $border;

    }
  }

  .footer {
    padding-bottom: 62px;
  }

  .footer__copy {
    display: block;
    text-align: center;
  }

  .top-slider__title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 9px;
  }

  .top-slider__text {
    margin-bottom: 14px;
  }

  .top-slider__btn {
    width: 120px;
    height: 37px;
  }

  .categories-top__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px
  }


  .categories-top__item {
    height: 400px;

  }

  .categories-top__item-subtitle {
    font-size: 30px;
  }


  .categories-top__item-title {
    font-size: 22px;
    margin: 10px 0;
  }


  .title {
    font-size: 31px;
    line-height: 25px;
  }


  .video-popup__subtitle {
    font-size: 20px;
  }

  .products__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-item {
    max-width: 100%;
    width: 100%;
  }

  .product-item__img-box {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }

  .product-item__img {
    max-height: 100%;
    width: 100%;
  }

  .header {
    padding: 20px 0;
  }

  .promo {
    padding: 60px 0;
    min-height: auto;
    background-position: 50% center;

  }

  .promo__timer {
    justify-content: space-around;
  }

  .promo__timer-item {
    width: 85px;
    height: 85px;
  }

  .promo__timer-item span {
    font-size: 29px;
    line-height: 7px;
  }

  .partners__list {
    flex-wrap: wrap;

  }

  .partners__item {
    width: 33.33%;

    text-align: center;
    margin-bottom: 30px;
  }

  .partners__img {
    display: inline-block;
  }

  .partners {
    padding: 60px 0 60px;
  }

  .blog {
    padding: 60px 0 60px;
  }

  .top__container {
    background-position: 30%;
    padding: 15px;
    height: auto;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      min-height: 200px;
      height: 100%;

    }
  }

  .top__title {
    text-align: right;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 25px;

  }

  .breadcrumbs {
    justify-content: flex-end;
    margin: 0;
    padding-left: 20px;
  }

  .breadcrumbs__item:first-child::before {
    left: -3px;
  }

  .breadcrumbs__list {
    display: inline-block;
    text-align: center;
  }

  .breadcrumbs__item {
    margin-bottom: 10px;
  }

  .breadcrumbs__item {
    padding-right: 0;
  }

  .breadcrumbs__item:first-child:before {
    top: -10px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .breadcrumbs__item::after {
    top: 25px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: rotate(90deg);
  }


  .modal {
    padding: 60px 0;
  }

  .map {
    padding: 60px 0;
  }

  .contacts__content-title {
    font-size: 29px;
    line-height: 37px;
}


.contacts__form {
  width: 100%;
  padding: 30px 20px;
  
}
.contacts__form-box{
  display: block;
}

.contacts__form-box .contacts__form-input+.contacts__form-input{
  margin-left: 0;
  margin-top: 30px;
}

.contacts__form-btn {
  width: 100%;
}

.blog-page__item-title {
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 12px;
}

.blog-one__info{
  flex-direction: column;
}

.blog-one__item+.blog-one__item {
  margin-left: 0;
  margin-top: 5px;
}

.blog-one__content-block {
  padding: 15px;
}

.blog-one__text h4 {
  font-size: 19px;
}

.blog-one__text h4, .blog-one__text p, .blog-one__text blockquote {
  margin: 15px 0;
}
.blog-one__img-left {
  float:none;
  margin-right: 0;

}

.blog-one__links{
  display: block;
}

.blog-one__tags{
  margin-bottom: 15px;
}

.blog-one__author-img {
  height: 80px;
  width: 80px;
  margin-right: 15px;
}

.blog-one__author-name {
  font-size: 20px;
  margin-bottom: 3px;
}

.comments__avatar {
  margin-right: 15px;
}

.comments-form__inputs{
  display: block;
}
.comments-form__input+.comments-form__input {
  margin-left: 0;
  margin-top: 30px;
}

.comments-form__btn{
  width: 100%;
}

.blog-one__share{
  display: flex;
}

.page-404 {
  padding: 60px 0;
}
.page-404__title {
  font-size: 35px;
  line-height: 0px;
}
}











@media(max-width:440px) {
  .footer {
    font-size: 15px;

    h5 {
      font-size: 17px;
      margin-bottom: 20px;
    }

  }

  .footer-top__form-input {
    &::placeholder {
      font-size: 14px;
    }
  }

  .footer-top__form-btn {
    width: 100px;
    font-size: 12px;
  }



  .info__img {
    width: 50px;
    height: 50px;
  }



  .info__title {
    font-size: 20px;
    line-height: 16px;
  }

  .info__text {
    font-size: 14px;
  }

  .categories-top__item {
    height: 260px;
  }

  .categories-top__item-subtitle {
    font-size: 20px;
  }


  .categories-top__item-title {
    font-size: 17px;
    margin: 10px 0;
  }

  .title {
    font-size: 26px;
    line-height: 25px;
  }

  .promo__timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

  }

  .promo__timer-item {
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }

  .promo__timer-item span {
    font-size: 48px;
    line-height: 25px;
  }


  .partners__item {
    width: 50%;

  }

  .blog-box {
    display: block;
  }

  .blog__item-block {
    padding: 13px 13px;
  }

  .blog-box-creator {
    display: block;
    margin-bottom: 5px;
  }

  .blog__item-titlelink {
    font-size: 19px;
  }

  .top__container {
    background-image: none !important;
    background-color: #ececec !important;
  }

  .top__title {

    font-size: 22px;

  }

  #map {
    height: 250px;
  }
  .contacts__form {
    padding: 15px 10px;
}
  .contacts__content-item::before {
    width: 40px;
    height: 40px;
    top: 7px;
}

.contacts__content-item::after {
  left: 11px;
  top: 16px;
}
.contacts__content-item--map::after {
  left: 13px;
}

.contacts__content-item {
  padding-left: 55px;
}

.blog-page__aside{
  .filter__title{
    display: none;
  }
}

.blog-slider .slick-next {
  right: 10px;
}
.blog-slider .slick-prev {
  left: 10px;
}

.blog-one__text blockquote {
  padding: 18px 20px;
  font-size: 17px;
  line-height: 22px;
}

.comments__item{
  flex-direction: column;
}

.comments__avatar {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.blog-one__author-box{
  flex-direction: column;
}

.blog-one__author-img {

  margin-right: 0px;
  margin-bottom: 10px;
}

.page-404__title {
  font-size: 22px;
  margin-bottom: 15px;
}
.page-404__img {
  margin-bottom: 40px;
}
}

