@import "vars";
@import "libs";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+.menu__item {
    padding-left: 35px;

  }



  &__link {

    @extend %roboto-400;
    color: $title;
    font-size: 16px;
    padding: 0 3px 5px;
    transition: all .3s;

    &:hover {
      /* @extend %roboto-700; */
      text-shadow: 0 0 .9px $accent, 0 0 .9px $accent;
      border-bottom: 1px solid $accent;
      color: $accent;
    }

  }

  .menu__link--active {
    /*   @extend %roboto-700; */
    text-shadow: 0 0 .9px $accent, 0 0 .9px $accent;
    border-bottom: 1px solid $accent;
    color: $accent;
  }
}

.user-nav {
  padding-right: 10px;
  display: flex;

  &__link+.user-nav__link {
    margin-left: 25px;
  }

  &__link {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: $accent;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    top: -8px;
    right: -10px;
  }
}

@import "media"