.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug.*

dist/
node_modules
package-lock.json


.lock-wscript

test.xunit


logs
*.log

pids
*.pid
*.seed

lib-cov

coverage
.nyc_output

.grunt

build/Release

