h1{
    font-family: $top-family;
    font-size: 64px;
    font-style: 700;
}

h2{
    font-family: $top-family;
    font-size: 24px;
    font-style: 700;
}

h3{
    font-family: $top-family;
    font-size: 18px;
    font-style: 700;
}