

@import "vars";
@import "libs";
@import "fonts";
@import "global";

body{
    font-family: 'Noto Sans', sans-serif;
}

*,
*::after,
*::before{
    box-sizing:border-box;
}

p,
a,
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


@import "media";