
@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    height: 100vh;
    //100 vh чтоб на весь жкран любого моника
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    color: $white-color;

    //хидер сделан через флекс чтоб для люого моника был норм отступы
    //убран контейнер для работы jcsb

    padding: 70px 10px 38px;
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 150px;

    &__text {
        margin-top: auto;
        margin-bottom: 30px;

        font-weight: 400;
        font-size: 18px;
        line-height: 25px;

    }

    &__title {
        margin-bottom: 55px;
        line-height: 87px;

    }

    &__subtitle {
        line-height: 57px;
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 110px;
    }

    &__btn {
        margin-left: 35px;
        margin-bottom: 290px;
    }
}

.services {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 510px;
        //моно использовать flex-basis:510px
    }

    &__block {
        margin-bottom: 50px;
    }

    &__block-title {
        margin-bottom: 15px;
    }

    &__img {
        object-fit: cover;
        //для того чтоб изображение не тянулось при увеличении текста из за флекса
    }
}

.description {
    &__inner {
        display: flex;
        justify-content: space-between;

    }

    &__content {
        width: 510px;

    }

    &__tab {
        margin-bottom: 100px;
        &-items {
            display: flex;
            margin-bottom: 125px;
        }
        &-item {
            margin-right: 40px;
            color: $black-color;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;

            &--active {
                border-bottom: 1px solid $black-color;
            }

            &:hover {
                border-bottom: 1px solid $hover-color;
            }
        }

        &-content {
            display: none;

            &--active {
                display: block;
            }
        }

    }

    &__slider {
        max-width: 510px;
        &-img {
            margin-right: 40px;
            float: left;

        }

        &-text {
            padding-bottom: 15px;
        }

    }

    &__benefits {
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;

        &-block {
            width: 235px;
            margin-bottom: 20px;
        }

        &-title {
            margin-bottom: 5px;
        }
    }

    &__block-text {
        width: 600px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;

        margin-bottom: 17px;
    }

}

.quote {
    min-height: 500px;
    background-image: url("../img/quote-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    text-align: center;
    padding: 128px 0 144px;

    &__text {
        margin: 0 auto;
        width: 680px;
        font-weight: 400;
        font-size: 42px;
        line-height: 57px;
        color: $white-color;

    }
}

.clients {
    &__img {
        width: 510px;
        margin-bottom: 30px;
    }

    &__block {
        margin-left: 91px;
    }

    &__title {
        width: 480px;
        margin-bottom: 30px;
    }

    &__list {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        list-style: none;

        margin-bottom: 125px;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__btn {
        margin-left: 50px;
    }

    &__carousel {
        display: flex;
    }
}

.steps {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 510px;
    }

    &__title {
        line-height: 33px;
    }

    &__list {
        padding: 0;
        margin: 0;
        counter-reset: none;
        list-style: none;
    }

    &__item {
        counter-increment: MyCounter;
        position: relative;
        margin-bottom: 60px;
        &::before {
            content: '0' counter(MyCounter);
            position: absolute;
            left: 0;
            top: -30px;
            font-size: 14px;
            line-height: 19px;
            font-weight: 400;
            text-transform: uppercase;
            color: $gray-color;
        }

        &:nth-child(n+10)::before {
            content: counter(MyCounter);
        }

        &-title {
            margin-bottom: 2px;
        }
    }
}

.footer {
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 50px;
    }

    &__copy {
        &:hover {
            text-decoration: underline;
        }
    }
}

.contacts {
    display: flex;

    padding-top: 70px;
    &__form {
        width: 510px;
        margin-right: 90px;

        &-title {
            color: $white-color;
        }
    }

    &__input {
        display: block;
        background: transparent;
        border: none;
        border-bottom: 1px solid $white-color;
        width: 510px;
        height: 30px;
        padding: 5px 10px;
        color: $white-color;
        &::placeholder {
            font-family: "Noto Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: $white-color;

            background: transparent;
            outline: none !important;

        }
        margin-bottom: 60px;
    }

    &__btn {
        margin-top: 60px;
        margin-left: 50px;

        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__content {
        color: $white-color;

        &-title {
            color: $white-color;
        }

    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 600px;

    }

    &__item {
        margin-bottom: 30px;

    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        font-family: "Noto Sans";
    }

   

}

@import "media";