@import "vars";
@import "libs";
@import "fonts";
@import "global";

$Ral: 'Raleway', sans-serif;
$Rob: 'Roboto Condensed', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $Rob;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}


.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: $Ral;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353E;
  position: relative;
  display: block;

  &::after {

    content: "/";
    position: absolute;
    font-family: $Ral;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.6px;
    color: #00B2A0;
  }
}



.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 98px);

    &-title {
      font-family: $Ral;
      font-weight: 700;
      font-size: 200px;
      line-height: 235px;
      letter-spacing: 0.6px;
      color: #0D302C;
      /* margin-top: auto; */
      padding-top: 210px;
    }

    &-text {
      font-family: $Rob;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      color: #000000;
      margin-bottom: auto;
    }

    &-scroll {
      margin-bottom: 92px;
    }

  }
}

.logo {
  position: absolute;
  left: 0;
}

.menu {
  &__list {
    display: flex;
  }

  &__item+&__item {
    margin-left: 45px;
  }



  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding-bottom: 5px;
  }

  &__link:hover {
    border-bottom: 1px solid #00B2A0;

  }
}



.about {
  padding: 190px 0 200px;

  &__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;


    &-text {
      max-width: 480px;
      width: 50%;
      margin-bottom: 30px;
      margin-right: 120px;
    }
  }

}


.services {
  padding: 200px 0;
  background: #F8F8F8;

  &__title {
    text-align: center;
    margin-bottom: 100px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  &__item {
    max-width: 350px;


    &-inner {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 65px;
        top: 0;
        width: 50px;
        height: 50px;

      }

      &--live::before {
        background-image: url(../img/services-live.svg);
      }

      &--plane::before {
        background-image: url(../img/services-plane.svg);
      }

      &--learn::before {
        background-image: url(../img/services-learn.svg);
      }

    }

    &-title {

      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      max-width: 220px;
      padding-left: 60px;






    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

  }

  &__statistic {
    width: 300px;
    margin-top: 5px;
    &-item {
     
      display: block;
      margin-bottom: 10px;
   /*   position: relative;
     height: 43px; */
      

    }

  

    &-img{
      display: inline-block;   

    
    }

    
    

    &-percent {
      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.6px;
      position: absolute;
      margin-left: 10px;
    }

    /* &-text{
      display: inline-block;
     
      &::before{
        content:"";
        position: absolute;
        top: -17px;
        left: 0;
        width: inherit;
        height: 15px;
        background-image: url(../img/services-perc.svg);
        background-repeat: no-repeat;
        background-size:contain;
      }
    }

    &-percent {
      display: inline-block;
      top: 0;
      margin-left: 5px;
      position: absolute;
      font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.6px;
      position: absolute;
      top: -20px;
      /* font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.6px;
      display: inline-block;
height: 15px;
      background-image: url(../img/services-perc.svg);
      background-repeat: no-repeat;
      background-size:contain;
      position: relative; */
     
     /*  &-span{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
      } 
    } */

  }

  &__block {
    width: 50%;

    &-text {
      margin-bottom: 30px;
    }
  }



}




@import "media"