@import "vars";
@import "libs";
@import "fonts";
@import "global";

$Ral: 'Raleway', sans-serif;
$Rob: 'Roboto Condensed', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $Rob;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}


.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: $Ral;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353E;
  position: relative;
  display: block;

  &::after {

    content: "/";
    position: absolute;
    font-family: $Ral;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.6px;
    color: #00B2A0;
  }
}



.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 98px);

    &-title {
      font-family: $Ral;
      font-weight: 700;
      font-size: 200px;
      line-height: 235px;
      letter-spacing: 0.6px;
      color: #0D302C;
      /* margin-top: auto; */
      padding-top: 210px;
    }

    &-text {
      font-family: $Rob;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      color: #000000;
      margin-bottom: auto;
    }

    &-scroll {
      margin-bottom: 92px;
    }

  }
}

.logo {
  position: absolute;
  left: 0;
}

.menu {
  &__list {
    display: flex;
  }

  &__item+&__item {
    margin-left: 45px;
  }



  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding-bottom: 5px;
  }

  &__link:hover {
    border-bottom: 1px solid #00B2A0;

  }
}



.about {
  padding: 190px 0 200px;

  &__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;


    &-text {
      max-width: 480px;
      width: 50%;
      margin-bottom: 30px;
      margin-right: 120px;
    }
  }

}


.services {
  padding: 200px 0;
  background: #F8F8F8;

  &__title {
    text-align: center;
    margin-bottom: 100px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  &__item {
    max-width: 350px;


    &-inner {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 65px;
        top: 0;
        width: 50px;
        height: 50px;

      }

      &--live::before {
        background-image: url(../img/services-live.svg);
      }

      &--plane::before {
        background-image: url(../img/services-plane.svg);
      }

      &--learn::before {
        background-image: url(../img/services-learn.svg);
      }

    }

    &-title {

      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      max-width: 220px;
      padding-left: 60px;






    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

  }

  &__statistic {
    width: 300px;
    margin-top: 5px;

    &-item {
      display: block;
      margin-bottom: 10px;
    }

    &-img {
      display: inline-block;

    }

    &-percent {
      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.6px;
      position: absolute;
      margin-left: 10px;
    }

  }

  &__block {
    width: 50%;

    &-text {
      margin-bottom: 30px;
    }
  }



}


.motivate {
  background-image: url(../img/motivate1.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 20%;

  /* &__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  } */

  &__inner {
    margin-right: auto;
    padding: 200px 0 150px;
    display: block;
    max-width: 520px;
    width: 45%;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__text {
    max-width: 507px;
    margin-bottom: 30px;
  }
}

.gallery {
  padding: 200px 0;

  &__title {
    text-align: center;
    margin-bottom: 200px;
  }

  &__filter {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding-bottom: 5px;

    &:hover {
      text-decoration: underline;

    }

    &.mixitup-control-active {
      color: #00B2A0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-bottom: 50px;

  }

  &__content-item {
    margin-bottom: 40px;
    position: relative;

    &:hover .gallery__content-link {
      opacity: 1;
    }

  }

  &__content-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.7);
    opacity: 0;
    transition: all .5s;


  }




  &__more {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    font-family: $Rob;
    letter-spacing: 0.6px;
    color: #242121;
    display: block;
    border: 1px solid #C4C4C4;
    background-color: #fff;
    padding: 23px 91px 24px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
    transition: all .3s;

    &:hover {
      background-color: rgb(248, 248, 248);
    }
  }


}

.blockquote {
  padding: 80px 0;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;

  &__text {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: inline-block;


    span {
      position: absolute;
      bottom: -20px;
      right: -150px;
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }

    /* or 111% */
  }
}

.statistic {
  padding: 200px 0 0;

  &__video {
    background-image: url(../img/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;
    margin-bottom: 200px;
  }

  &__link {}

  &__img {
    max-width: 100%;
    display: block;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;

  }

  &__item+&__item {
    margin-left: 100px;
  }

  &__item {
    text-align: center;
    min-width: 140px;
  }

  &__num {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #01353E;

  }


}

.blog {
  padding: 200px 0 0;

  &__title {
    margin-bottom: 230px;
    text-align: center;
  }



  &__slider-item {
    background-image: url(../img/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
  }

  &__slider-inner {
    padding: 315px 0 350px;
    margin-left: auto;
    width: 50%;
  }


  &__slider-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
  }

  &__slider-text {

    color: #FFFFFF;
  }

}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px
}

.slick-dots button {
  border: none;
  background-color: #fff;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 15px;

}

.slick-active button {
  background: #00B2A0;
}

.team {
  padding: 200px 0;

  &__title {
    margin-bottom: 210px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 330px;
    text-align: center;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
  }
}

.rate {
  padding: 200px 0;
  background: #F8F8F8;

  &__title {
    margin-bottom: 200px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 45px 30px;
    background-color: #fff;
    width: 360px;
    height: 577px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    margin-bottom: 60px;
    text-align: center;
  }

  &__enum {
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__price {
    margin-top: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    text-align: center;
    position: relative;
    display: block;

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      position: absolute;
      top: 9px;
      margin-left: 5px;
    }
  }
}



@import "media"