@import "vars";
@import "libs";
@import "fonts";
@import "global";

$Ral: 'Raleway', sans-serif;
$Rob: 'Roboto Condensed', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $Rob;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}


.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;

}

.title {
  font-family: $Ral;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353E;
  position: relative;
  display: block;
  padding-right: 35px;

  &::after {

    content: "/";
    position: absolute;
    font-family: $Ral;
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.6px;
    color: #00B2A0;
  }
}



.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    position: fixed;
    background-color: rgba(#485c6046, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 555;

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 98px);

    &-title {
      font-family: $Ral;
      font-weight: 700;
      font-size: 200px;
      line-height: 235px;
      letter-spacing: 0.6px;
      color: #0D302C;
      /* margin-top: auto; */
      padding-top: 210px;
    }

    &-text {
      font-family: $Rob;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      color: #000000;
      margin-bottom: auto;
    }

    &-scroll {
      margin-bottom: 92px;
    }

  }
}

.logo {
  position: absolute;
  left: 160px;
}

.menu {
  &__list {
    display: flex;
  }

  &__item+&__item {
    margin-left: 45px;
  }



  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding-bottom: 5px;
  }

  &__link:hover {
    border-bottom: 1px solid #00B2A0;

  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    outline: none;

  }
}



.about {
  padding: 190px 0 200px;

  &__title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;


    &-text {
      max-width: 480px;
      width: 50%;
      margin-bottom: 30px;
      margin-right: 120px;
    }
  }

}


.services {
  padding: 200px 0;
  background: #F8F8F8;

  &__title {
    text-align: center;
    margin-bottom: 100px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  &__item {
    max-width: 350px;


    &-inner {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 65px;
        top: 0;
        width: 50px;
        height: 50px;

      }

      &--live::before {
        background-image: url(../img/services-live.svg);
      }

      &--plane::before {
        background-image: url(../img/services-plane.svg);
      }

      &--learn::before {
        background-image: url(../img/services-learn.svg);
      }

    }

    &-text {

      height: 68px;

    }

    &-title {

      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      max-width: 220px;
      padding-left: 60px;






    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

  }

  &__statistic {
    width: 300px;
    margin-top: 5px;

    &-item {
      display: block;
      margin-bottom: 10px;
    }

    &-img {
      display: inline-block;

    }

    &-percent {
      display: inline-block;
      font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.6px;
      position: absolute;
      margin-left: 10px;
    }

  }

  &__block {
    width: 50%;

    &-text {
      margin-bottom: 30px;
    }
  }



}


.motivate {
  background-image: url(../img/motivate1.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 20%;

  /* &__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  } */

  &__inner {
    margin-right: auto;
    padding: 200px 0 150px;
    display: block;
    max-width: 520px;
    width: 45%;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__text {
    max-width: 507px;
    margin-bottom: 30px;
  }
}

.gallery {
  padding: 200px 0;

  &__title {
    text-align: center;
    margin-bottom: 200px;
  }

  &__filter {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding-bottom: 5px;

    &:hover {
      text-decoration: underline;

    }

    &.mixitup-control-active {
      color: #00B2A0;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-bottom: 50px;

  }

  &__content-item {
    margin-bottom: 40px;
    position: relative;

    &:hover .gallery__content-link {
      opacity: 1;
    }

  }

  &__content-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.7);
    opacity: 0;
    transition: all .5s;


  }




  &__more {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    font-family: $Rob;
    letter-spacing: 0.6px;
    color: #242121;
    display: block;
    border: 1px solid #C4C4C4;
    background-color: #fff;
    padding: 23px 91px 24px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
    transition: all .3s;

    &:hover {
      background-color: rgb(248, 248, 248);
    }
  }


}

.blockquote {
  padding: 80px 0;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;

  &__text {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: inline-block;


    span {
      position: absolute;
      bottom: -20px;
      right: -150px;
      font-style: italic;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }

    /* or 111% */
  }
}

.statistic {
  padding: 200px 0 0;

  &__video {
    background-image: url(../img/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;
    margin-bottom: 200px;
  }

  &__link {}

  &__img {
    max-width: 100%;
    display: block;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    padding: 0 250px;

  }

  &__item+&__item {
    margin-left: 100px;
  }

  &__item {
    text-align: center;
    min-width: 140px;
  }

  &__num {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #01353E;

  }


}

.blog {
  padding: 200px 0 0;

  &__title {
    margin-bottom: 230px;
    text-align: center;
  }



  &__slider-item {
    background-image: url(../img/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
  }

  &__slider-inner {
    padding: 315px 0 350px;
    margin-left: auto;
    width: 50%;
  }


  &__slider-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
  }

  &__slider-text {

    color: #FFFFFF;
  }

}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px
}

.slick-dots button {
  border: none;
  background-color: #fff;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 15px;

}

.slick-active button {
  background: #00B2A0;
}

.team {
  padding: 200px 0;

  &__title {
    margin-bottom: 210px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 330px;
    text-align: center;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
  }
}

.rate {
  padding: 200px 0;
  background: #F8F8F8;

  &__title {
    margin-bottom: 200px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 45px 30px;
    background-color: #fff;
    width: 360px;
    height: 577px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    margin-bottom: 60px;
    text-align: center;
  }

  &__enum {
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__price {
    margin-top: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    text-align: center;
    position: relative;
    display: block;

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      position: absolute;
      top: 9px;
      margin-left: 5px;
    }
  }
}

.map {
  padding-top: 200px;
  text-align: center;
  max-width: 1500px;


  iframe {
    width: 100%;

  }
}

.connection {
  padding: 200px 0;

  &__title {
    margin-bottom: 250px;
    text-align: center;
  }

  &__inner {
    display: flex;
    margin-bottom: 200px;

  }

  &__form {
    max-width: 570px;
    width: 100%;
    height: 460px;
  }

  &__form-text,
  &__form-textarea {
    width: 100%;
    display: block;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #DADADA;
    padding: 18px 5px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 18px;


    &::placeholder {
      font-family: $Rob;

      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.6px;
      color: #00B2A0;
      max-width: 260px;


    }


  }

  &__form-textarea {
    min-height: 156px;
    resize: none;
  }

  &__form-btn {
    padding: 24px 111px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    font-family: $Rob;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #242121;
    margin-top: 74px;
    cursor: pointer;

    &:hover {
      background-color: rgb(248, 248, 248);
    }


  }

  &__contacts {
    width: 50%;
    margin-left: auto;
    padding: 49px 0 0 52px;
    height: 460px;
    background: #F8F8F8;
  }

  &__contacts-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    max-width: 330px;
    a{
      color: #242121;
    }

  }

  &__contacts-text+.connection__contacts-text {
    margin-top: 65px;
  }





}

.social {
  display: flex;
  justify-content: center;

  &__link+.social__link {
    margin-left: 15px;
  }

  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    transition: all .5s;

    &:hover {
      color: #00B2A0;
    }
  }


}


.footer {
  padding: 68px 0;
  background: #00B2A0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    position: static;
  }
}


@media(max-width:1400px) {
  .about__block-text {
    max-width: 880px;
    width: 100%;
    margin: 0 auto 20px;

  }

  .motivate__inner {
    padding: 110px 0;
  }

}


@media(max-width:1200px) {


  .header__top {
    justify-content: right;
  }

  ul.menu__list {
    padding-right: 10px;
  }

  .logo {

    left: 10px;
  }

  .about,
  .services,

  .gallery,
  .about,
  .team,
  .rate,
  .map,
  .connection {
    padding: 80px 0;
  }


  .statistic,
  .blog {
    padding: 80px 0 0;
  }

  .title {
    margin-bottom: 50px;
    font-size: 34px;
  }

  .services__items {
    display: block;
  }

  .services__item {
    margin-bottom: 40px;
    max-width: 100%;
  }

  .services__item-inner {
    justify-content: start;
  }

  .services__item-inner::before {

    left: 5px;
  }

  .motivate {
    background-image: none;
  }

  .motivate__inner {
    max-width: 100%;
    width: 100%;
  }

  .motivate__text {
    max-width: 100%;
  }

  .gallery__content {

    justify-content: space-evenly;
  }

  .blockquote__text span {
    position: sticky;
    display: block;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }

  .team__items,
  .rate__items {
    column-gap: 30px
  }


  .connection__contacts {
    width: 45%;
    padding: 49px 20px 49px 20px;

  }

  .connection__form {
    max-width: 470px;
    width: 100%;
    height: 460px;
  }

  .connection__inner {

    margin-bottom: 100px;
}
}







@media(max-width:1000px) {

  .rate__items {
    flex-direction: column;
    align-items: center;
  }

  .rate__item {
    margin-bottom: 50px;
  }

  .connection__inner{
    display: block;
  
  }
  
  .connection__contacts {
    width: 100%;
text-align: center;
    margin-left: 0;
    margin: 0 auto;

  }

  p.connection__contacts-text {
   max-width: 100%;
   width: 100%;
  }

  .connection__form {
    max-width: auto;
    width: 100%;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 50px;
    
  }

  .connection__form-btn{
    width: 100%;
  }

}







@media(max-width:900px) {

  .header__top {
    padding: 20px 0;
    background: rgb(2, 0, 36);
    z-index: 999;
    background: rgba(26, 166, 171, 1);
  }

  .logo__img {
    max-width: 65%;
    display: block;
  }

  .title {
    margin-bottom: 50px;
    /*  font-size: 22px; */
    text-align: left;
  }


  .menu {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: 64px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background: rgb(26, 166, 171);
    background: linear-gradient(180deg, rgba(26, 166, 171, 1) 0%, rgba(3, 114, 117, 1) 75%);
    /*  border-radius: 0 0 30% 30%; */
    opacity: 0;
    padding: 10px 0;
    width: 100%;
    z-index: -1;
    transition: opacity .3s;
    transform: translateY(-200%);

    &__list {
      display: block;

    }

    &__item {
      padding: 10px 0;
      flex-direction: column;


    }

    &__item+&__item {
      margin-left: 0;
    }

    &__btn {
      z-index: 777;
      display: block;
      margin-left: auto;
    }


  }



  .menu--active {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);

  }



  .header__content-title {

    font-size: 120px;
    line-height: 140px;
    padding-top: 285px;
  }

  .services__info {
    display: block;
  }

  .services__statistic {
    width: 90%;
    margin-bottom: 50px;
  }

  .services__statistic-text {
    font-size: 24px;
  }

  .services__block {
    width: 100%;
  }

  .statistic__items {
    flex-wrap: wrap;
    padding: 0;
  }

  .statistic__item+.statistic__item {
    margin-left: 0;
  }

  .statistic__item {
    min-width: auto;
    width: 50%;
    margin-bottom: 30px;
  }

  .statistic__video {
    margin-bottom: 100px;
  }

  .blog__slider-title {
    font-size: 28px;
    line-height: 38px;
  }

  .blog__slider-item {
    height: 500px;
  }

  .blog__slider-inner {
    padding: 200px 0 350px;
  }

  .slick-dots {
    bottom: 50px;
  }

  .footer__logo .logo__img {
    max-width: 100%;
    left: 0;
}

}





@media(max-width:768px) {
  .blockquote__text {
    font-style: italic;
    font-weight: 400;
    font-size: 21px;
    line-height: 15px;
  }

  .blockquote__text span {
    font-size: 11px;
  }

  .blog__slider-inner {
    width: 80%;
    margin: 0 auto;
  }

  .team__items {
    flex-direction: column;
    align-items: center;
  }

  .team__item {
    margin-bottom: 40px;
  }
}







@media(max-width:550px) {
  .header__content-title {
    font-size: 66px;
    line-height: 85px;
    padding-top: 285px;
  }

  .header__content-text {
    font-size: 20px;
    line-height: 22px;
  }

  .title {
    font-size: 22px;
    line-height: 26px;

  }

  .title::after {

    display: none;
  }

  .services__statistic-text {
    font-size: 18px;
  }

  .gallery__list {
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 50%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .gallery__link {
    font-size: 20px;
  }


  .gallery__more {
    font-size: 16px;
    padding: 22px 28px 24px;
    max-width: 270px;
  }

  .social{
    flex-wrap: wrap;
    align-items: center;
  }

  .social__link{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
  }

  .social__link+.social__link{
    margin-left: 0;
  }
}





@media(max-width:440px) {
  .header__content-title {
    font-size: 66px;
    line-height: 85px;
    padding-top: 285px;
  }

  .header__content-text {
    font-size: 14px;
    line-height: 14px;
  }

  .title::after {
    display: none;
  }



  .services__item-title {

    font-size: 16px;
    line-height: 18px;
  }

  .services__item-text {
    height: 100%;
  }

  .services__statistic-text {
    font-size: 14px;
  }

  .blockquote__text {
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
  }

  .statistic__item {

    width: 100%;

  }

  .blog__slider-inner {
    width: 95%;
    margin: 0 auto;
  }

  .blog__slider-title {
    font-size: 24px;
    line-height: 29px;
  }

  .blog__slider-text {
    padding-top: 20px;
  }


  .rate__item {
    width: 100%;
    height: auto;
    padding: 25px 15px;
  }

  .connection__form-btn {
    padding: 24px 63px;
    font-size: 18px;
}

.connection__contacts {

  height: auto;

}
}



@import "media"