body {
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    color: black;
    line-height: 22px;
    padding: 0;
    margin: 0;
    min-width: 1445px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 945px;
    margin: 0 auto;



}

.btn {
    display: inline-block;
    padding: 12px 30px;
    margin-top: -10px;

    color: #fff;

    font-size: 18px;
    line-height: 22px;
    text-align: center;

    background-color: #000;
    border-radius: 30px;

    text-decoration: none;

}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #fff;
    margin-top: 190px;
}

/*HEADER
******************/

.header {
    height: 88px;

    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);


}

.header-nav {
    display: flex;
    justify-content: space-between;

    padding: 30px 0;

}

.header-nav-link {
    text-decoration: none;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    color: #828282;
}

.header-nav-link.active {
    color: #070707;
}


/*AUTHOR
*************/
.author-block {
    height: 545px;
    position: relative;

}

.author-text-block {
    height: 109px;
    width: 945px;
    margin: 0;
    padding: 0;
}

.author-text-flex {
    margin-top: 30px;



    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;

    align-items: flex-end;

    position: relative;

}

.author-name {
    font-size: 47.3392px;
    font-weight: 700;
    line-height: 59px;

    color: #070707;


}

.author-text {
    margin-bottom: 13px;

    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    color: #070707;

    position: absolute;
    left: 421px;
}

.author-lang {

    font-size: 16px;
    line-height: 20px;

    color: #828282;

    transform: rotate(-90deg);

    position: absolute;
    right: -22px;
    top: 92px;
}

.author-lang span {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #000;
}


.author-img {
    margin-top: 49px;
}


/*ABOUT ME
********************/

.aboutme-block {

    height: 506px;
    background-color: #F6F6F6;

    margin-top: 135px;
    padding-top: 115px;


}

.text-block {
    width: 950px;
    text-align: center;
}

.title {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;

    margin-bottom: 21px;


}

.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    margin-bottom: 43px;


}


/*SKILLS
**************/

.skills-block {
    height: 506px;
    background-color: #fff;

    padding-top: 85px;

    margin-bottom: 104px;
}

.skills-block .title {
    margin-bottom: 56px;
}




.skills-prog-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

}


.skills-prog-block {
    width: 170px;
    margin-right: 87px;

    position: relative;

}

.skills-prog-block:last-child {
    margin: 0;
}

.prog {
    width: 90px;

    padding: 44px 44px 0;
    margin-bottom: 36px;


}

.skills-img {

    position: absolute;
    top: 44px;
    left: 44px;
}


.skills-prog-block:last-child .skills-img {
    position: absolute;
    top: 44px;
    left: 60px;
}


.skills-prog-name {
    width: 90px;

    font-size: 14px;
    line-height: 17px;
    text-align: center;

    display: inline-block;

    position: absolute;
    top: 155px;
    left: 43px;

}


.skills-prog-rate {
    position: absolute;
    top: 227px;
    left: 8px;
}

.star {
    margin-right: 9px;
}

.star:last-child {
    margin: 0;
}



/*PORTFOLIO
***************/

.portfolio-block {
    height: 2255px;

    background-color: #F6F6F6;
}

.portfolio-site {
    padding-top: 107px;
}


.portfolio-img {
    margin: 35px 0;
}

.portfolio-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin-left: 5px;

    color: #000;
}

.title-folio {
    text-align: center;
    margin-left: 5px;
}

.text-block__folio {
    margin-bottom: 66px;
}

/*CONTACTS
**************/
.contacts {
    height: 500px;
}

.text-block__contacts {
    margin-top: 106px;
}


.nav-icons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: center;

}

.nav-link {
    margin: 85px 31px 0;
}

.text__footer {
    margin-top: 37px;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;

    color: #828282;
}
